#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Flutter/Generated.xcconfig"

APP_DISPLAY_NAME = AlphaG
PRODUCT_BUNDLE_IDENTIFIER = com.clbyapp.alfag
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-alfag
DEVELOPMENT_TEAM = 6XC3376V5Z

FLUTTER_BUILD_NAME = 1.0.1
FLUTTER_BUILD_NUMBER = 4

LAUNCH_STORYBOARD_NAME = LaunchScreenAlfaG
