@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide spinner arrows on number inputs marked with .no-spinner */
input[type="number"].no-spinner::-webkit-inner-spin-button,
input[type="number"].no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"].no-spinner {
  -moz-appearance: textfield;
  appearance: textfield;
}
